<p style="text-align:center">
    <a href="https://skills.network/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork928-2022-01-01" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

# **Data Wrangling Lab**

Estimated time needed: **45 to 60** minutes

In this assignment you will be performing data wrangling.

## Objectives

In this lab you will perform the following:

-   Identify duplicate values in the dataset.

-   Remove duplicate values from the dataset.

-   Identify missing values in the dataset.

-   Impute the missing values in the dataset.

-   Normalize data in the dataset.

<hr>

## Hands on Lab

Import pandas module.

In [1]:
import pandas as pd

Load the dataset into a dataframe.

In [2]:
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/LargeData/m1_survey_data.csv")

## Finding duplicates

In this section you will identify duplicate values in the dataset.

 Find how many duplicate rows exist in the dataframe.

In [3]:
# Count the number of duplicate rows in the dataframe
duplicate_rows = df.duplicated().sum()
print("Number of duplicate rows in the dataframe:", duplicate_rows)

Number of duplicate rows in the dataframe: 154

## Removing duplicates

Remove the duplicate rows from the dataframe.

In [4]:
# Remove duplicate rows from the dataframe and store the result in a new dataframe
df_without_duplicates = df.drop_duplicates()

# The variable 'df_without_duplicates' now contains the dataframe with duplicates removed

Verify if duplicates were actually dropped.

In [5]:
# Count the number of duplicate rows in the original dataframe
original_duplicate_count = df.duplicated().sum()

# Remove duplicate rows to create a new dataframe
df_without_duplicates = df.drop_duplicates()

# Count the number of duplicate rows in the new dataframe
new_duplicate_count = df_without_duplicates.duplicated().sum()

# Verify the results
print("Number of duplicate rows in the original dataframe:", original_duplicate_count)
print("Number of duplicate rows in the new dataframe:", new_duplicate_count)

Number of duplicate rows in the original dataframe: 154
Number of duplicate rows in the new dataframe: 0

## Finding Missing values

Find the missing values for all columns.

In [6]:
# Find missing values for all columns and sum them
missing_values = df.isna().sum()

# Print the missing values for each column
print("Missing values for each column:")
print(missing_values)

Missing values for each column:
Respondent        0
MainBranch        0
Hobbyist          0
OpenSourcer       0
OpenSource       81
               ...
Sexuality       547
Ethnicity       683
Dependents      144
SurveyLength     19
SurveyEase       14
Length: 85, dtype: int64

Find out how many rows are missing in the column 'WorkLoc'

In [7]:
# Find the number of missing values in the 'WorkLoc' column
missing_workloc = df['WorkLoc'].isna().sum()

# Print the number of missing values in the 'WorkLoc' column
print("Number of missing values in the 'WorkLoc' column:", missing_workloc)

Number of missing values in the 'WorkLoc' column: 32

## Imputing missing values

Find the  value counts for the column WorkLoc.

In [8]:
# Get the value counts for the 'WorkLoc' column
workloc_value_counts = df['WorkLoc'].value_counts()

# Print the value counts
print("Value counts for the 'WorkLoc' column:")
print(workloc_value_counts)

Value counts for the 'WorkLoc' column:
Office                                            6905
Home                                              3638
Other place, such as a coworking space or cafe     977
Name: WorkLoc, dtype: int64

Identify the value that is most frequent (majority) in the WorkLoc column.

In [9]:
# Get the value counts for the 'WorkLoc' column
workloc_value_counts = df['WorkLoc'].value_counts()

# Get the most frequent value
most_frequent_workloc = workloc_value_counts.index[0]

# Print the most frequent value in the 'WorkLoc' column
print("The most frequent value in the 'WorkLoc' column:", most_frequent_workloc)

The most frequent value in the 'WorkLoc' column: Office

Impute (replace) all the empty rows in the column WorkLoc with the value that you have identified as majority.

In [10]:
# Identify the most frequent value in the 'WorkLoc' column
most_frequent_workloc = df['WorkLoc'].value_counts().index[0]

# Replace empty rows with the most frequent value
df['WorkLoc'].fillna(most_frequent_workloc, inplace=True)

After imputation there should ideally not be any empty rows in the WorkLoc column.

Verify if imputing was successful.

In [11]:
# Check for missing values in the 'WorkLoc' column
missing_workloc = df['WorkLoc'].isna().sum()

# Print the number of missing values in the 'WorkLoc' column after imputation
print("Number of missing values in the 'WorkLoc' column after imputation:", missing_workloc)

Number of missing values in the 'WorkLoc' column after imputation: 0

## Normalizing data

There are two columns in the dataset that talk about compensation.

One is "CompFreq". This column shows how often a developer is paid (Yearly, Monthly, Weekly).

The other is "CompTotal". This column talks about how much the developer is paid per Year, Month, or Week depending upon his/her "CompFreq". 

This makes it difficult to compare the total compensation of the developers.

In this section you will create a new column called 'NormalizedAnnualCompensation' which contains the 'Annual Compensation' irrespective of the 'CompFreq'.

Once this column is ready, it makes comparison of salaries easy.

<hr>

List out the various categories in the column 'CompFreq'

In [12]:
# Get the unique categories in the 'CompFreq' column
compfreq_categories = df['CompFreq'].unique()

# Print the unique categories
print("Categories in the 'CompFreq' column:")
for category in compfreq_categories:
    print(category)

Categories in the 'CompFreq' column:
Yearly
Monthly
Weekly
nan

Create a new column named 'NormalizedAnnualCompensation'. Use the hint given below if needed.

Double click to see the **Hint**.

<!--

Use the below logic to arrive at the values for the column NormalizedAnnualCompensation.

If the CompFreq is Yearly then use the exising value in CompTotal
If the CompFreq is Monthly then multiply the value in CompTotal with 12 (months in an year)
If the CompFreq is Weekly then multiply the value in CompTotal with 52 (weeks in an year)

-->

In [16]:
# Define a function to normalize compensation values to annual basis
def normalize_compensation(row):
    compensation = row['ConvertedComp']
    freq = row['CompFreq']
    
    if freq == 'Yearly':
        return compensation
    elif freq == 'Monthly':
        return compensation * 12
    elif freq == 'Weekly':
        return compensation * 52
    elif freq == 'Daily':
        return compensation * 260  # Assuming 5 workdays per week
    elif freq == 'Hourly':
        return compensation * 2080  # Assuming 40 hours per week, 52 weeks per year
    else:
        return None

# Create the 'NormalizedAnnualCompensation' column based on 'CompFreq'
df['NormalizedAnnualCompensation'] = df.apply(normalize_compensation, axis=1)

## Authors

Ramesh Sannareddy

### Other Contributors

Rav Ahuja

## Change Log

| Date (YYYY-MM-DD) | Version | Changed By        | Change Description                 |
| ----------------- | ------- | ----------------- | ---------------------------------- |
| 2020-10-17        | 0.1     | Ramesh Sannareddy | Created initial version of the lab |

 Copyright Â© 2020 IBM Corporation. This notebook and its source code are released under the terms of the [MIT License](https://cognitiveclass.ai/mit-license?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork928-2022-01-01&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBM-DA0321EN-SkillsNetwork-21426264&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ).